// Define regras para a variante compacta gerenciada via Django Template
.br-header {
  &.compact {
    // Usa variáveis core do DSGovBR para gerenciar os espaçamentos reduzidos
    padding-top: var(--spacing-scale-1x);
    padding-bottom: var(--spacing-scale-1x);

    .header-title {
      font-size: var(--font-size-scale-up-01);
    }

    .header-bottom {
      margin-top: var(--spacing-scale-half);
    }
  }
}
