{% load i18n static dsgovbr compress %}

{% if not is_popup %}
  <header class="br-header {% if dsgovbr.header.type == 'compact' %}compact{% endif %}" id="header" data-sticky="data-sticky">
    <div class="container-{{dsgovbr.header.width_style}}">
      <div class="header-top">
        {% if dsgovbr.header.logo.show or dsgovbr.header.assinatura.show %}
          <div class="header-logo">
            {% if dsgovbr.header.logo.show %}
              <a href="{{ dsgovbr.header.logo.link }}">
                {% if dsgovbr.header.logo.type == 'compact' %}
                  <img src="{{ dsgovbr.header.logo.compact_url }}" aria-hidden="true" />
                {% else %}
                  <img src="{{ dsgovbr.header.logo.default_url }}" aria-hidden="true" />
                {% endif %}
              </a>
            {% endif %}
            {% if dsgovbr.header.logo.show and dsgovbr.header.assinatura.show %}
              <span class="br-divider vertical"></span>
            {% endif %}
            {% if dsgovbr.header.assinatura.show %}
              <div class="header-sign">{{ dsgovbr.header.assinatura.label }}</div>
            {% endif %}
          </div>
        {% endif %}
        <div class="header-actions">
          {% if dsgovbr.header.links.show %}
            <div class="header-links dropdown">
              <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i></button>
              <div class="br-list">
                <div class="header"><div class="title">Acesso Rápido</div></div>
                {% for item in dsgovbr.header.links.items %}
                  <a class="br-item" href="{{ item.url }}" {% if item.target %} target="{{ item.target }}"{% endif %}>
                    {% if item.icon %}<i class="{{ item.icon }}" aria-hidden="true"></i>{% endif %}
                    {{ item.label }}
                    {% if item.external %}<i class="fas fa-external-link-alt"></i>{% endif %}
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% if dsgovbr.header.links.show and dsgovbr.header.funcionalidades.show %}
            <span class="br-divider vertical mx-half mx-sm-1"></span>
          {% endif %}
          {% if dsgovbr.header.funcionalidades.show %}
            <div class="header-functions dropdown">
              <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Funcionalidades do Sistema">
                <i class="fas fa-th" aria-hidden="true"></i>
              </button>
              <div class="br-list">
                <div class="header">
                  <div class="title">Funcionalidades do Sistema</div>
                </div>
                {% for item in dsgovbr.header.funcionalidades.items %}
                  <div class="br-item">
                    <button class="br-button circle small" type="button" aria-label="{{ item.label }}">
                      {% if item.icon %}<i class="{{ item.icon }}" aria-hidden="true"></i>{% endif %}
                      <span class="text">{{ item.label }}</span>
                    </button>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% if dsgovbr.header.search.show %}
            <div class="header-search-trigger">
              <button class="br-button circle" type="button" aria-label="Abrir Busca" data-toggle="search" data-target=".header-search"><i class="fas fa-search" aria-hidden="true"></i>
              </button>
            </div>
          {% endif %}
          {% if dsgovbr.header.login.show %}
            <div class="header-login">
              {% if not user.is_authenticated %}
                <div class="header-sign-in">
                  <button class="br-sign-in small" type="button" data-trigger="login">
                    <i class="fas fa-user" aria-hidden="true"></i>
                    <span class="d-sm-inline">Entrar</span>
                  </button>
                </div>
              {% else %}
                <div class="header-avatar">
                  <button class="br-sign-in" type="button" aria-label="{{dsgovbr.header.login.saudacao|default_if_none:''}}{{ user.get_full_name }}" aria-expanded="false" aria-controls="avatar-menu" tabindex="0" {% if dsgovbr.header.login.dropdown.show %} id="avatar-dropdown-trigger" data-visible="false" data-toggle="dropdown" data-target="avatar-menu"{% endif %}>
                    <span class="br-avatar" aria-hidden="true">
                      <span class="content bg-green-50 text-pure-0">
                        {% if dsgovbr.header.login.type == 'fotografico' %}
                          {% if user.avatar_url %}
                            <img src="{{user.avatar_url}}" alt="Avatar"/>
                          {% else %}
                            <i class="fas fa-user" aria-hidden="true"></i>
                          {% endif %}
                        {% elif dsgovbr.header.login.type == 'iconico' %}
                          <i class="fas fa-user" aria-hidden="true"></i>
                        {% else %}
                          {{ user|user_letters }}
                        {% endif %}
                      </span>
                    </span>
                    {% if dsgovbr.header.login.name_to_show == 'first' or dsgovbr.header.login.name_to_show == 'last' %}
                      <span class="ml-2 text-gray-80 text-weight-regular">
                        {{dsgovbr.header.login.saudacao|default_if_none:""}}
                        {% if dsgovbr.header.login.name_to_show == 'first' %}
                          <span class="text-weight-semi-bold">{{ user.first_name | first_word }}</span>
                        {% elif dsgovbr.header.login.name_to_show == 'last' %}
                          <span class="text-weight-semi-bold">{{ user.last_name | last_word }}</span>
                        {% endif %}
                      </span>
                    {% endif %}
                    {% if dsgovbr.header.login.dropdown.show %}
                      <i class="fas fa-caret-down" aria-hidden="true"></i>
                    {% endif %}
                  </button>
                  <div class="br-list" id="avatar-menu" hidden="hidden" role="menu" aria-labelledby="avatar-dropdown-trigger" style="left: auto; right: 0; padding: 1em; background: var(--background);">
                    {% if dsgovbr.header.login.dropdown.show_large_avatar %}
                      <span class="br-avatar large">
                        <span class="content bg-green-50 text-pure-0">
                          {% if user.avatar_url %}
                            <img src="{{user.avatar_url}}" alt="Avatar"/>
                          {% else %}
                            <i class="fas fa-user" aria-hidden="true"></i>
                          {% endif %}
                        </span>
                      </span>
                    {% endif %}
                    {% if dsgovbr.header.login.dropdown.show_full_name or dsgovbr.header.login.dropdown.show_role %}
                      <p class="" style="padding-top: 1em; text-align: center;">
                        {% if dsgovbr.header.login.dropdown.show_full_name %}
                            <span class="br-avatar-name">{{ user.get_full_name }}</span><br/>
                        {% endif %}
                        {% if dsgovbr.header.login.dropdown.show_role %}
                            <span class="br-avatar-role">{{ user.main_role | default_if_none:'Sem papel definido' }}</span>
                        {% endif %}
                      </p>
                    {% endif %}
                    {% if dsgovbr.header.login.dropdown.show_large_avatar or dsgovbr.header.login.dropdown.show_full_name or dsgovbr.header.login.dropdown.show_role %}
                      <span class="br-divider horizontal mx-half mx-sm-1"></span>
                    {% endif %}
                    {% for item in dsgovbr.header.login.dropdown.items %}
                      <a class="br-item" href="{{ item.url }}" {% if item.target %} target="{{ item.target }}"{% endif %}>
                        {% if item.icon %}<i class="{{ item.icon }}" aria-hidden="true"></i>{% endif %}
                        {{ item.label }}
                        {% if item.external %}<i class="fas fa-external-link-alt"></i>{% endif %}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="header-bottom">
        <div class="header-menu">
          <div class="header-menu-trigger" id="header-navigation">
            <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu" data-target="#main-navigation" id="navigation"><i class="fas fa-bars" aria-hidden="true"></i>
            </button>
          </div>
          <div class="header-info">
            <div class="header-title">{{ dsgovbr.header.titulo.label }}</div>
            {% if dsgovbr.header.subtitulo.show %}<div class="header-subtitle">{{ dsgovbr.header.subtitulo.label }}</div>{% endif %}
          </div>
        </div>
        {% if dsgovbr.header.search.show %}
          <div class="header-search" id="main-searchbox">
            <div class="br-input has-icon">
              <label for="searchbox">Texto da pesquisa</label>
              <input id="searchbox" type="text" placeholder="O que você procura?">
              <button class="br-button circle small" type="button" aria-label="Pesquisar"><i class="fas fa-search" aria-hidden="true"></i>
              </button>
            </div>
            <button class="br-button circle search-close ml-1" type="button" aria-label="Fechar Busca" data-dismiss="search"><i class="fas fa-times" aria-hidden="true"></i>
            </button>
          </div>
        {% endif  %}
      </div>
    </div>
  </header>
{% endif %}
